h1{
    background-color: aqua;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h4{
    text-align: center;
    background-color: antiquewhite;
}

.firstRecipe{
    color: red;
    font-weight: bold;   
    font-family: Tahoma, sans-serif;
}

